You will need to press the fork button at the top right of this notebook (the two arrows going in opposite directions) to make modifications to this notebook in your own copy. You can then find this copy in your Workspaces tab at the top.

This Notebook is for you to play around with the data on the assessment to help you answer the questions we are asking you to solve! You'll want to start by loading in the data and then writing and code you want to test out here!

To find the SciKitLearn Reference notebook, click on the "Files" button on the left side of the screen.

In [119]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import math

In [120]:
data = pd.read_csv("hw3-nces-ed-attainment.csv")
data

,Year,Sex,Min degree,Total,White,Black,Hispanic,Asian,Pacific Islander,American Indian/Alaska Native,Two or more races
0,1920,A,high school,---,22.0,6.3,---,---,---,---,---
1,1940,A,high school,38.1,41.2,12.3,---,---,---,---,---
2,1950,A,high school,52.8,56.3,23.6,---,---,---,---,---
3,1960,A,high school,60.7,63.7,38.6,---,---,---,---,---
4,1970,A,high school,75.4,77.8,58.4,---,---,---,---,---
...,...,...,...,...,...,...,...,...,...,...,...
209,2014,F,master's,9.3,11.1,5.0,3.6,20.8,---,---,7.5
210,2015,F,master's,10.4,12.0,7.2,4.1,23.2,---,---,10.2
211,2016,F,master's,11.2,12.3,6.3,6.3,28.8,---,---,8.2
212,2017,F,master's,10.5,11.8,6.8,5.0,25.8,---,---,5.4
213,2018,F,master's,10.7,12.6,6.2,3.8,29.9,---,---,---